Examples/org.hl7.fhir.validator.jar
StructureDefinition/UKCore-AdditionalPersonRelationshipRole.xml
StructureDefinition/UKCore-AddressKeyType-duplicate-2.xml
StructureDefinition/UKCore-AddressKeyType.xml
StructureDefinition/UKCore-Bundle-AllergyList-Example.xml
StructureDefinition/UKCore-Patient-Extension-EthnicCategory-Example.xml
StructureDefinition/UKCore-PersonRelationshipType.xml
StructureDefinition/UKCoreAllergyIntolerance.xml
StructureDefinition/UKCoreCarePlan.xml
StructureDefinition/UKCoreCareTeam.xml
StructureDefinition/UKCoreCondition.xml
StructureDefinition/UKCoreConsent.xml
StructureDefinition/ukcoredecember2019.xml
StructureDefinition/UKCoreDiagnosticReport.xml
StructureDefinition/UKCoreDocumentReference.xml
StructureDefinition/UKCoreEncounter.xml
StructureDefinition/UKCoreEpisodeOfCare.xml
StructureDefinition/ukcorefebruary2020-duplicate-2.xml
StructureDefinition/ukcorefebruary2020-duplicate-3.xml
StructureDefinition/UKCoreImmunization.xml
StructureDefinition/UKCoreList.xml
StructureDefinition/UKCoreLocation.xml
StructureDefinition/UKCoreMedication.xml
StructureDefinition/UKCoreMedicationDispense.xml
StructureDefinition/UKCoreMedicationRequest.xml
StructureDefinition/UKCoreMedicationStatement.xml
StructureDefinition/UKCoreObservation.xml
StructureDefinition/UKCoreOrganization.xml
StructureDefinition/UKCorePatient.xml
StructureDefinition/UKCorePractitioner.xml
StructureDefinition/UKCorePractitionerRole.xml
StructureDefinition/UKCoreProcedure.xml
StructureDefinition/UKCoreRelatedPerson.xml
StructureDefinition/UKCoreServiceRequest.xml
StructureDefinition/UKCoreSpecimen.xml
StructureDefinition/UKCoreBundle.xml
StructureDefinition/UKCoreComposition.xml
StructureDefinition/ExtensionUKCoreAddressKey.xml
StructureDefinition/ExtensionUKCoreAdmissionMethod.xml
StructureDefinition/ExtensionUKCoreAllergyIntoleranceEnd.xml
StructureDefinition/ExtensionUKCoreAnaestheticIssues.xml
StructureDefinition/ExtensionUKCoreClinicalSetting.xml
StructureDefinition/ExtensionUKCoreConditionEpisode.xml
StructureDefinition/ExtensionUKCoreContactPreference.xml
StructureDefinition/ExtensionUKCoreContactRank.xml
StructureDefinition/ExtensionUKCoreCopyCorrespondenceIndicator.xml
StructureDefinition/ExtensionUKCoreDeathNotificationStatus.xml
StructureDefinition/ExtensionUKCoreDischargeMethod.xml
StructureDefinition/ExtensionUKCoreEffectivePeriod.xml
StructureDefinition/ExtensionUKCoreEmergencyCareDischargeStatus.xml
StructureDefinition/ExtensionUKCoreEncounterTransport.xml
StructureDefinition/ExtensionUKCoreEthnicCategory.xml
StructureDefinition/ExtensionUKCoreEvidence.xml
StructureDefinition/ExtensionUKCoreListWarningCode.xml
StructureDefinition/ExtensionUKCoreMainLocation.xml
StructureDefinition/ExtensionUKCoreMedicalApplianceSupplier.xml
StructureDefinition/ExtensionUKCoreMedicationChangeSummary.xml
StructureDefinition/ExtensionUKCoreMedicationDosageLastChanged.xml
StructureDefinition/ExtensionUKCoreMedicationPrescribingAgency.xml
StructureDefinition/ExtensionUKCoreMedicationQuantityText.xml
StructureDefinition/ExtensionUKCoreMedicationRepeatInformation.xml
StructureDefinition/ExtensionUKCoreMedicationStatementLastIssueDate.xml
StructureDefinition/ExtensionUKCoreNHSCommunication.xml
StructureDefinition/ExtensionUKCoreNHSNumberVerificationStatus.xml
StructureDefinition/ExtensionUKCoreNominatedPharmacy.xml
StructureDefinition/ExtensionUKCoreOutcomeOfAttendance.xml
StructureDefinition/ExtensionUKCoreParentPresent.xml
StructureDefinition/ExtensionUKCorePreferredDispenserOrganization.xml
StructureDefinition/ExtensionUKCorePrescriptionType.xml
StructureDefinition/ExtensionUKCoreReligiousAffiliation.xml
StructureDefinition/ExtensionUKCoreResidentialStatus.xml
StructureDefinition/ExtensionUKCoreTreatmentCategory.xml
StructureDefinition/ExtensionUKCoreVaccinationProcedure.xml
StructureDefinition/ExtensionUKCoreOtherContactSystem.xml
