/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*****************************************/
/* Code snippet viewer for legacy guides */
/*****************************************/

/* .lang-json {
    border: 1px solid #ccc;
} */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tabbutton {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabbutton:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabbutton.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*************************************/
/* NHS-D Theme (bootstrap-overrides) */
/*************************************/
a {
  color: #005bbb;
}

pre {
    display: block;
    padding: 10px;
    margin: 0px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.1rem;
    background: #F6F8F8;
    border-radius: 0;
    margin-bottom: 30px;
    font-size: 80%;
}

.nhsd-m-sticky-navigation__item {
  line-height: 1.4rem;
}

/* Tree table overiddes */
.stu3-treetable .treetable-wrapper .treetable-left-panel .treetable  {
  font-size: 100%;
  font-family: "Frutiger W01","Arial",sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}
.stu3-treetable .treetable-wrapper .treetable-left-panel .treetable td
{
  font-family: "Frutiger W01","Arial",sans-serif;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  padding: 5px;
}

table.dict {
  width: 100%;
  font-size: 100%;
  border: none;
}

/* Sidebar override for nested pages */
.nav-tabs>li>a {
  border-radius: 0;
  border: none;
  outline: 0;
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: none !important;
  box-shadow: none !important;
  background: #005bbb !important;
  outline: 0 !important;
}

.navbar-nav>li {
    display: inline-block !important;
    float: none !important;
}

/* Main navigation - ensure 100% width when using a small device */
@media (max-width: 77.49em) {
  .nhsd-m-menu-bar li {
    width: 100% !important;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #005eb8;
    border: 0;
    cursor: default;
}

.navbar-collapse ul li {
  text-align: left;
  font-size: 16px;
}

.navbar-default {
  background-color: #fff !important;
}

ul.dropdown-menu {
  font-size:100%
}

#preview-content {
  padding-top: 0px !important;
}

/* NHS Digital callout boxes (old branding) */
.callout-box--info {
    border-left: solid 7px #4c90ce;
    background-color: #d4e4f3;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 1.4rem;
}

.callout-box--warning {
    border-left: solid 7px #FFB81C;
    background-color: #FFF1CC;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 1.4rem;
}

.callout-box--danger {
    border-left: solid 7px #910a19;
    background-color: #fcc;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 1.4rem;
}

/* back to top button - renders when scrolling */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: none;
}

/* PRSB-style mandatory, required, optional, avoid, and unknown circles */
.mro-circle {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 80%;
    font-weight: 600;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center !important;
    cursor: help;
    padding: 0px;
}

.mandatory {
  background: #330072 !important;
  color: #fff !important;
}

.mandatory::after {
  content: 'M';
}

.required {
  background: #ED8B00 !important;
  color: #fff !important;
}

.required::after {
  content: 'R';
}

.optional {
  background: #006747 !important;
  color: #fff !important;
}

.optional::after {
  content: 'O';
}

.unknown {
  background: #DFE2E5 !important;
  color: #687784 !important;
}

.unknown::after {
  content: '?';
}

.avoid {
  background: #8A1538 !important;
  color: #fff !important;
}

.avoid::after {
  content:'X';
}