html, body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%; }
  body header {
    background-color: #f5f5f5; }
    body header .title {
      font-size: 30px;
      padding-top: 23px;
      color: black; }
      body header .title a {
        color: black;
        text-decoration: none; }
    body header .fhir-logo {
      text-align: left;
      margin-top: 10px;
      margin-bottom: 5px; }
    body header .hl7-logo {
      text-align: right;
      float: left;
      margin-top: 15px; }
  body .content {
    overflow: hidden;
    min-height: 70%;
    position: relative;
    height: auto !important;
    margin-bottom: -155px;
    padding-bottom: 155px; }
  body footer {
    background-color: #808080;
    color: #eee;
    height: 155px;
    position: relative;
    padding-top: 40px; }
  body .warning {
    background-color: yellow;
    border: 1px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left; 
  }

  .lang-json {
    border: 1px solid #ccc;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }/* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }/* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }/* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }/* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }